<h1>Search</h1>
<form id="form1">
    query: 
    <input type="text" name="q" value="{{.q}}" id="query"> 
    <input type="submit" value="search">
</form>

<div id="result"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function load(q){
    // Using the core $.ajax() method
    $.ajax({
        url: "search",
        type: "GET",
        dataType : "json",
        data : {q: q}
    })
    .done(function( json ) {
        console.log( json )
        s = ""
        for(i = 0; i < json.length ; i++){
            s += json[i].URL + "<br>"
        }
        $( "#result" ).html(s)
    })
    .fail(function( xhr, status, errorThrown ) {
        console.log( "Sorry, there was a problem!" );
        console.log( "Error: " + errorThrown );
        console.log( "Status: " + status );
        console.dir( xhr );
    })
    .always(function( xhr, status ) {
        console.log( "The request is complete!" );
    });
}

// Shorthand for $( document ).ready()
$(function() {
    console.log( "ready!" )
    var q = getParameterByName("q", window.location)
    if (q!="") {
        load(q);
    }
    $("#form1").submit(function(){
        q = $("#query").val()
        console.log("SUBMIT" + q)
        load(q) 
        return false
    })
});

</script>

